<p id="notice"><%= notice %></p>

<h1>Carts</h1>

<% @carts.each do |cart| %>
  <!--================Cart Area =================-->
    <% unless cart.line_items.empty? %>
        <section class="cart_area">
            <div class="container">
                <div class="cart_inner">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            <% cart.line_items.each do |line_item| %>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <%= image_tag line_item.product.product_image, class:"img-fluid" %>
                                            </div>
                                            <div class="media-body">
                                                <p><%= line_item.product.name %></p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5>$<%= line_item.product.price %></h5>
                                    </td>
                                    <td>
                                        <h5><%= line_item.quantity %></h5>
                                         <!-- <div class="product_count">
                                            <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                                                class="input-text qty">
                                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                                class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                                class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                        </div>  -->
                                    </td>
                                    <td>
                                        <h5>$<%= line_item.total_price %></h5>
                                    </td>
                                </tr>
                            <% end %>
                                <tr>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <h5>Subtotal</h5>
                                    </td>
                                    <td>
                                        <h5>$<%= cart.total_price %></h5>
                                    </td>
                                </tr>
                                
                                <tr class="out_button_area">
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <div class="checkout_btn_inner d-flex align-items-center">
                                            <%# <a class="gray_btn" href="#">Continue Shopping</a> %>
                                            <% if user_signed_in? %>
                                                <%= link_to "Checkout",order_checkout_path(:order_id=>cart.id), class: "primary-btn",method:"get"%>
                                            <% else %>
                                                <%= link_to "Checkout", new_user_session_path,method:"get" %>
                                            <% end %>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    <% end %>
    <!--================End Cart Area =================-->

  <!--<tr>
    <td><%= cart.user_id %></td>
    <td><%= link_to 'Show', cart %></td>
    <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
    <td><%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>-->
<% end %>

<br>

<%= link_to 'New Cart', new_cart_path %>
