
<h1>Wishlist</h1>

<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% unless @wishlists.empty? %>
                          <% @wishlists.each do |wishlist| %>
                              <tr>
                                  <td>
                                      <div class="media">
                                          <div class="d-flex">
                                              <%= image_tag wishlist.product.product_image, class:"img-fluid" %>
                                          </div>
                                          <div class="media-body">
                                              <p><%= wishlist.product.name %></p>
                                          </div>
                                      </div>
                                  </td>
                                  <td>
                                      <h5>$<%= wishlist.product.price %></h5>
                                  </td>
                                  <td>
                                    <%= form_with url: "/wishlists/#{wishlist.id}",  method: :delete, data: { confirm: 'Are you sure?' }, local: true, id: "form" do |form| %>
                                      <%= hidden_field_tag :user_id, current_user.id.to_i %>
                                      <%= hidden_field_tag :product_id, wishlist.product.id.to_i %> 
                                      <%= form.submit "Remove from wishlist"%>
                                      <!-- <p>wishlist</p> -->
                                    <% end %>
                                      <!-- <div class="product_count">
                                          <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                                              class="input-text qty">
                                          <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                              class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                          <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                              class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                      </div>  -->
                                  </td>
                                  <td>
                                  </td>
                              </tr>
                          <% end %>
                        <% end %>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <!-- <h5>Subtotal</h5> -->
                            </td>
                            <td>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>