<div class="login_form_inner">
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with(model: product, local: true, html:{class:"row login_form"}) do |form| %>
    <div class="col-md-12 form-group">
      <%= form.text_field :name,class: "form-control", placeholder: "Product Name" %>
    </div>

    <div class="col-md-12 form-group">
      <%= form.text_field :description, class: "form-control", placeholder: "Description" %>
    </div>

    <div class="col-md-12 form-group">
      <%= form.text_field :category,class: "form-control", placeholder: "Category" %>
    </div>

    <div class="col-md-12 form-group">
      <%= form.number_field :price, class: "form-control", placeholder: "Price" %>
    </div>

    <div class="col-md-12 form-group">
      <%= form.file_field :product_image,class: "form-control", placeholder: "Product Image" %>
    </div>
    <div class="col-md-12 form-group">
      <%= form.submit "Submit", class:"primary-btn" %>
    </div>
  <% end %>
</div>
