<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <!-- Start Filter Bar -->
      <div class="filter-bar d-flex flex-wrap align-items-center  justify-content-end">
        
        <%= link_to 'New Product', new_product_path,method: "get",class:"primary-btn" %>
        
      </div>
      <!-- End Filter Bar -->
      <!-- Start Best Seller -->
      <section class="lattest-product-area pb-40 category-list">
        <div class="row">
          <% @products.each do |product,index| %>
            <%= render "product_item", product:product%>
          <% end %>
          
        </div>
        
      </section>
      
      <!-- End Best Seller -->
      <!-- Start Filter Bar -->
      <div class="filter-bar d-flex flex-wrap align-items-center">
        <div class="pagination-info mr-auto ">
        
          <span class="pull-right text-light"><%= page_entries_info(@products) %></span>
        
        </div>
        <ul class="pagination">
        
          <li> 
            <%= will_paginate(@products,:previous_label => "&laquo;", :next_label => "&raquo;",:class=>"small-font text-light",:outer_window => 1,:inner_window => 0,:"data-turbolinks"=>"false") %>
          </li>
        
        </ul>
      </div>
      <!-- End Filter Bar -->
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>
