<!--================Single Product Area =================-->
<div class="product_image_area" data-controller="product-form">
  <div class="container">
    <%= form_with url: "/line_items", class:"d-flex justify-content-between", method: :post do |form| %>
    <%= form.hidden_field :product_id, value: @product.id %>
    <div class="row s_product_inner">
      <div class="col-lg-6">
          <div class="single-prd-item">
            <%= image_tag @product.product_image, class:"img-fluid" %>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1 mb-5">
          <div class="s_product_text">
            <h3><%= @product.name %></h3>
            <h2>$<%= @product.price %></h2>
            <ul class="list">
              <li><a class="active" href="#"><span>Category</span> : <%= @product.category %></a></li>
              <li><a href="#"><span>Availibility</span> : <%= @product.stock %> In Stock</a></li>
            </ul>
            <p><%= @product.description %></p>
            <div class="product_count">
              <%= form.number_field :quantity, 
                class:"input-text qty", 
                id:"sst",
                name:"quantity",
                max: @product.stock,
                value: @product.get_line_items_quantity(session[:cart_id]), 
                'data-target' => "product-form.quantity",
                'data-action' => 'keyup->product-form#countCharacters'
                %>
              
              <%= button_tag(
                type: 'button', 
                class: "increase items-count",
                name: "incrementBtn",
                id: "incrementBtn",
                'data-action'=>"click->product-form#increment"
                ) do %>
                <i class="lnr lnr-chevron-up"></i>
              <% end %>
              <%= button_tag(
                type: 'button', 
                class: "reduced items-count",
                name: "decrementBtn",
                id: "decrementBtn",
                'data-action'=>"click->product-form#decrement"
                ) do %>
                <i class="lnr lnr-chevron-down"></i>
              <% end %>
            </div>
            <!-- <div class="product_count">
              <label for="qty">Quantity:</label>
              <%= form.number_field :quantity, 
                class:"input-text qty", 
                id:"sst",
                name:"quantity",
                max: @product.stock,
                value: @product.get_line_items_quantity(@cart.id)
                %>
              <%# <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty"> %>
              <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
              <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
            </div> -->
            <div class="card_area d-flex align-items-center">
              <%# <a class="primary-btn" href="#">Add to Cart</a> %>
              <%= form.submit "Add to Cart", class:"primary-btn" %>
              <%# <%= button_to 'Add to Cart', line_items_path(:product_id => @product.id), class:"primary-btn" %>
              <% if policy(:product).update? %>
                <%= link_to 'Edit', edit_product_path(@product), class:"primary-btn",method:"get" %> 
              <% end %>
              <%= link_to 'Back', products_path, class:"primary-btn",method:"get" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!--================End Single Product Area =================-->